/*Generales*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  main {
    padding: 3%;
  }

/*Contenedores*/
.nav-wrapper {
    margin: 0;
    padding: 0;
}

.nav-content {
    margin: 0;
    padding: 0;
}

.card .card-content {
    padding: 0%;
}

/*Logos e iconos*/
.material-icons {
    color:#757575;
    margin: 0;
    margin-right: 35%;
}

.materialboxed {
    margin-top: 8%;

}

.usuario {
    margin-left: 15%;
    padding-top: 10%;
    width: 80%;
}

img .imagen {
    width: 70%;
}

/*Etiqueta*/

div.name {
    font-size: auto;
    padding: 0;
    margin: 0;
}

div p.etiqueta {
    font-size: auto;
    padding: 0;
    margin: 0;
}

.newsimagen {
    padding-left: 4%;
}


.row.nav-wrapper.white.header {
    border-bottom: 1px solid #dadada;
}

.col.s8.m8.l8.logo-cont {
    padding: 1rem;
}

.usuario-m {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.row.usuario-row {
    padding: 1rem 0;
}

img#user-photo {
    border: 1px solid;
}

#user-name {
    font-size: 16px;
}

.row.no-margin {
    margin-bottom: 0;
}

.post-card {
    border: 1px solid #dadada;
}

.viaje-img {
    width: 100%;
}